@tailwind base;
@tailwind components;
@tailwind utilities;

.appear {
    width:100%
    
}

.disappear {
    display:none
}

.glassBlur {
    backdrop-filter: blur(20px);
}

.appearH {
    height:100vh
    
}

